div{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin :auto;
    text-align: center;
}


body{
    background: rgb(221, 221, 228);
    margin: auto;
    width:400px;
   
}